version: "3.8"

services:
  rental-service:
    build:
      context: ./RentalService
    container_name: rental-service
    ports:
      - "8082:8080"
    environment:
      CUSTOMER_SERVICE_URL: http://customer-service
    depends_on:
      - customer-service
    networks:
      - app-network

  customer-service:
    build:
      context: ./CustomerService
    container_name: customer-service
    ports:
      - "8081:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
